/* header for carousel */
.weeks-top-deals {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 30px;
}

.weekly-deals {
  width: 356px;
  height: 356px;
  cursor: pointer;
}

.upper-text-carousel {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}



.lower-text-carousel {
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
}
