<!-- <p>carousel-weeks-top-deals works!</p> -->

      <div class="row row-cols-4 g-3">
        <div class="card border-0 below-header">
          <div class="card-body">
            <img class=" weekly-deals" src={{img}}>
            <p class="upper-text-carousel">{{description1}}</p>
            <p class="lower-text-carousel">{{description2}}</p>
          </div>
        </div>
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src={{img}}>
              <p class="upper-text-carousel">{{description1}}</p>
              <p class="lower-text-carousel">{{description2}}</p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src={{img}}>
              <p class="upper-text-carousel">{{description1}}</p>
              <p class="lower-text-carousel">{{description2}}</p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src={{img}}>
              <p class="upper-text-carousel">{{description1}}</p>
              <p class="lower-text-carousel">{{description2}}</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row row-cols-4 g-3">
        <div class="card border-0 below-header">
          <div class="card-body">
            <img class=" weekly-deals" src={{img}}>
            <p class="upper-text-carousel">{{description1}}</p>
            <p class="lower-text-carousel">{{description2}}</p>
          </div>
        </div>
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src={{img}}>
              <p class="upper-text-carousel">{{description1}}</p>
              <p class="lower-text-carousel">{{description2}}</p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src={{img}}>
              <p class="upper-text-carousel">{{description1}}</p>
              <p class="lower-text-carousel">{{description2}}</p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src={{img}}>
              <p class="upper-text-carousel">{{description1}}</p>
              <p class="lower-text-carousel">{{description2}}</p>
            </div>
          </div>
        </div>
      </div>
    