<!-- <p>video-games-ps5-layout works!</p> -->
<app-top-nav-bar> </app-top-nav-bar>


<div class="vr"> </div>
<p> routing works! </p>
<div class="container-fluid d-flex">
  <div *ngFor="let product of products">
      <app-vertical-card-component class="mx-2" img={{product.img}} description={{product.description}} [price]= 'product.price'>
        Loading... 
      </app-vertical-card-component>
    </div>
</div>

<div class="container-fluid d-flex">
  <div *ngFor="let product of products">
      <app-vertical-card-component class="mx-2" img={{product.img}} description={{product.description}} [price]= 'product.price'>
        Loading... 
      </app-vertical-card-component>
    </div>
</div>

<div class="container-fluid d-flex">
  <div *ngFor="let product of products">
      <app-vertical-card-component class="mx-2" img={{product.img}} description={{product.description}} [price]= 'product.price'>
        Loading... 
      </app-vertical-card-component>
    </div>
</div>

<div class="container-fluid d-flex">
  <div *ngFor="let product of products">
      <app-vertical-card-component class="mx-2" img={{product.img}} description={{product.description}} [price]= 'product.price'>
        Loading... 
      </app-vertical-card-component>
    </div>
</div>

<div class="container-fluid d-flex">
  <div *ngFor="let product of products">
      <app-vertical-card-component class="mx-2" img={{product.img}} description={{product.description}} [price]= 'product.price'>
        Loading... 
      </app-vertical-card-component>
    </div>
</div>

<div class="container-fluid d-flex">
  <div *ngFor="let product of products">
      <app-vertical-card-component class="mx-2" img={{product.img}} description={{product.description}} [price]= 'product.price'>
        Loading... 
      </app-vertical-card-component>
    </div>
</div>



<app-footer> </app-footer>