
  <div class="row">
      <div class="col-12">
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div *ngIf="errorAuthMessage">
              <p class="text-danger">Invalid Username/Password.</p>
            </div>
            <div *ngIf="successAuthMessage">
              <p class="text-success">You Successfully Logged-in/Created an account.</p>
            </div>
              <div class="input-group">
                  <span class="input-group-text">Email</span>
                  <input type="text" class="form-control" placeholder="Email:"  ngModel name="email" required email>
              </div>
              <div class="input-group">
                  <span class="input-group-text">Password</span>
                  <input type="password" class="form-control" placeholder="Password:" ngModel name="password" required password>
              </div>
              <div class="d-flex flex-row">
                <div class="p-2">
                  <button class="btn btn-dark" type="submit" [disabled]="!authForm.valid"  (click)="buttonClicked='Login'">Login</button>
                </div>
                <div class="p-2">
                  <button class="btn btn-dark" type="submit" [disabled]="!authForm.valid"  (click)="buttonClicked='SignUp'">Sign Up</button>
                </div>
              </div>
          </form>
      </div>
  </div>
