<p *ngIf="myInfo == undefined">failed fetching user info</p>
<div *ngIf="myInfo != undefined">
  <div class="container-fluid">
    <div class=" d-flex flex-rox justify-content-between">
      <div class="flex-column">
        User: {{myInfo.FirstName}} {{myInfo.LastName}}
      </div>
      <div class="flex-column">
        Mix_ID: {{myInfo.mix_id}}
      </div>
      <div class="flex-column">
        <a href={{myInfo.GitHub}}>GitHub: {{myInfo.GitHub}}</a>
      </div>
    </div>
  </div>
</div>
