<!-- <p>carousel-weeks-top-deals works!</p> -->
<h2 class="text-center weeks-top-deals">This Week's Top Deals</h2>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row row-cols-4 g-3">
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src="assets/Shop All Deals.jpg">
            </div>
          </div>
        </div>
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src="assets/weekly-deals-games-gta.jpg">
              <p class="upper-text-carousel">Get Up To 50% Off</p>
              <p class="lower-text-carousel">Select Hit Games</p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src="assets/weekly-deals-mouses.jpg">
              <p class="upper-text-carousel">Get Up To 25% Off</p>
              <p class="lower-text-carousel">Select Logitech Mice</p>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card border-0 below-header">
            <div class="card-body">
              <img class=" weekly-deals" src="assets/weekly-deals-headphones.jpg">
              <p class="upper-text-carousel">Save 20%</p>
              <p class="lower-text-carousel">Select Turtle Beach Headsets</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- second row of carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row row-cols-4 g-3">
          <div class="">
            <div class="card border-0 below-header">
              <div class="card-body">
                <img class=" weekly-deals" src="assets/weekly-deals-games-gta.jpg">
                <p class="upper-text-carousel">Get Up To 50% Off</p>
                <p class="lower-text-carousel">Select Hit Games</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="card border-0 below-header">
              <div class="card-body">
                <img class=" weekly-deals" src="assets/weekly-deals-mouses.jpg">
                <p class="upper-text-carousel">Get Up To 25% Off</p>
                <p class="lower-text-carousel">Select Logitech Mice</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="card border-0 below-header">
              <div class="card-body">
                <img class=" weekly-deals" src="assets/weekly-deals-headphones.jpg">
                <p class="upper-text-carousel">Save 20%</p>
                <p class="lower-text-carousel">Select Turtle Beach Headsets</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="card border-0 below-header">
              <div class="card-body">
                <img class=" weekly-deals" src="assets/weekly-deals-kirby-hoodie.jpg">
                <p class="upper-text-carousel">Buy 1, Get 1 30% Off</p>
                <p class="lower-text-carousel">Hoodies & Long Sleeves</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>