<!-- <p>card-deadisland-tradein works!</p> -->

<!-- card -->
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card border-0 below-header">
      <div class="card-body">
        <img class="hogwarts-pre-order-img" alt="hogwarts-pre-order" src="assets/dead-island-2.webp">
        <p class="card-text-hogwarts">Dead Island 2, Available 4.28</p>
        <p class="hogwarts-pre-order">Pre-Order Now</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 below-header">
      <div class="card-body">
        <img class="one-piece-img"  src="assets/cash-in-big-on-trades.jpeg">
        <p class="card-text-one-piece">Get Cash Or Credit For Trades</p>
        <p class="one-piece-shop">On Video Games, Consoles, Accessories & More</p>

        
      </div>
    </div>
  </div>
</div>