<!-- <p>card-top-brands works!</p> -->

<h2 class="text-center top-brands">Top Brands</h2>

<div class="row row-cols-5 g-3">
  <div class="col">
    <div class="card-body upper-body">
      <img src="assets/xbox-logo.jpg" class="border border card-img-top"/>
      <div class="card-body lower-body">
        <img src="assets/Hasboro-logo.jpg" class="border card-img-top"/>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-body upper-body">
      <img src="assets/nintendo-logo.jpg" class="border card-img-top"/>
      <div class="card-body lower-body">
        <img src="assets/pokemon-logo.jpg" class="border card-img-top"/>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-body upper-body">
      <img src="assets/PS-logo.jpg" class="border card-img-top"/>
      <div class="card-body lower-body">
        <img src="assets/razer-logo.jpg" class="border card-img-top"/>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-body upper-body">
      <img src="assets/Funko-logo.jpg" class="border card-img-top"/>
      <div class="card-body lower-body">
        <img src="assets/turtlebeach-logo.jpg" class="border card-img-top"/>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-body upper-body">
      <img src="assets/Meta-logo.jpg" class="border card-img-top"/>
      <div class="card-body lower-body">
        <img src="assets/AMD-logo.jpg" class="border card-img-top"/>
      </div>
    </div>
</div>

