<!-- <p> home-layout works! </p> -->
<app-top-nav-bar> </app-top-nav-bar>

<div class="container-fluid d-flex">
  <div *ngFor="let wide_card_product of wide_card_products">
    <app-card-hp-op class="mx-2" img={{wide_card_product.img}} header={{wide_card_product.header}} description={{wide_card_product.description}}>
      Loading...
    </app-card-hp-op>
  </div>
</div>

<h2 class="text-center top-brands">Top Brands</h2>
<app-card-top-brands> </app-card-top-brands>

<app-card-deadisland-tradein> </app-card-deadisland-tradein>

<app-carousel-weeks-top-deals> </app-carousel-weeks-top-deals>

<h4 class="header text-center"> Pre-Owned iPhones </h4>
<p class="text-decoration-underline text-center"> View All</p>
<div class="container-fluid d-flex">
  <div *ngFor="let preowned_card_products of preowned_card_products">
    <app-pre-owned-phones class="mx-2" img={{preowned_card_products.img}} [price] = 'preowned_card_products.price' description={{preowned_card_products.description}}>
      Loading...
    </app-pre-owned-phones>
  </div>
</div>

<app-footer> </app-footer>



