<!-- <p>card-hp-op works!</p> -->
<!-- blank space to show difference between header and card -->
<div class="vr space-between-header-footer"></div>
<!-- card -->
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card border-0 below-header">
      <div class="card-body">
        <img class="hogwarts-pre-order-img" alt="hogwarts-pre-order" src="assets/Hogwarts-Pre-Order.jpg">
        <p class="card-text-hogwarts">Hogwarts Legacy, Available 2.7</p>
        <p class="hogwarts-pre-order">Pre-Order Now</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 below-header">
      <div class="card-body">
        <img class="one-piece-img" alt="one-piece" src="assets/One-piece-odyssey.jpg">
        <p class="card-text-one-piece">One Piece Odyssey</p>
        <p class="one-piece-shop">Shop now</p>

        
      </div>
    </div>
  </div>
</div>










 